# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [52]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [53]:
weather_data_df = pd.read_csv("../WeatherPy/output_data/cleancitydata.csv")
weather_data_df

     latitude  longitude   temp  humid  cloud   wind
0      -37.62     -73.65  49.05     82     62   8.23
1       -5.55      12.20  71.28     86      0   6.33
2       -6.98     -34.83  73.40     94     90   6.93
3      -42.78     147.06  52.00     77    100   1.01
4      -42.88     147.33  53.01     81     75   2.24
..        ...        ...    ...    ...    ...    ...
527     -3.35     -64.71  76.93     76     28   1.03
528     45.18     -89.68  80.60     74      1   6.93
529     57.51      -1.80  48.99     81     98   4.70
530      6.12      81.12  82.40     69     90  10.29
531     20.88      94.82  84.99     70    100  11.99

[532 rows x 6 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [54]:
gmaps.configure(api_key = g_key)

In [55]:
locations = csv_cities_df[["latitude", "longitude"]].astype(float)

csv_cities_df = csv_cities_df.dropna()
humidity = csv_cities_df["humid"].astype(float)

In [57]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, max_intensity=100, dissipating=False, point_radius = 1)

fig.add_layer(heat_layer)
    
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [58]:
weather_data_df.dtypes

latitude     float64
longitude    float64
temp         float64
humid          int64
cloud          int64
wind         float64
dtype: object

In [59]:
my_ideal_locations_df = weather_data_df.loc[weather_data_df["temp"] < 75]
my_ideal_locations_df = my_ideal_locations_df.loc[weather_data_df["temp"] > 65]
my_ideal_locations_df = my_ideal_locations_df.dropna()
my_ideal_locations_df

     latitude  longitude   temp  humid  cloud   wind
1       -5.55      12.20  71.28     86      0   6.33
2       -6.98     -34.83  73.40     94     90   6.93
14      26.93    -101.45  71.47     89    100  15.12
19      69.38     178.42  66.56     49    100  13.65
20      62.46    -114.35  69.80     52     40  11.41
..        ...        ...    ...    ...    ...    ...
504     54.77    -101.86  68.79     59      0  11.21
506     41.59       9.28  73.40     93      0   3.36
507     64.84    -147.72  69.80     43     75  11.41
517     32.30      -9.24  69.96     93      9   8.41
518     44.46       7.09  71.01    100      0   3.36

[136 rows x 6 columns]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
hotel_df = my_ideal_locations_df

In [62]:
hotel_df.head()

    latitude  longitude   temp  humid  cloud   wind
1      -5.55      12.20  71.28     86      0   6.33
2      -6.98     -34.83  73.40     94     90   6.93
14     26.93    -101.45  71.47     89    100  15.12
19     69.38     178.42  66.56     49    100  13.65
20     62.46    -114.35  69.80     52     40  11.41

In [ ]:
params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "international airport",
    "key": g_key
}
https://developers.google.com/maps/documentation/javascript/places#place_search_fields

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure